;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8888 "public"} 

 :dependencies
 [[reagent "1.3.0"]]

 :builds
 {:sudoku
  {:target :browser
   :devtools {:after-load sambaumann.sudoku.app/init}
   :modules {:main {:init-fn sambaumann.sudoku.app/init
                    :entries [sambaumann.sudoku.app]}}
   }}}
